//Conditional Statements

//IF
// $value: 5;

// p {
//     @if 1 + 1 == 2{
//         font-size: 20px;
//     }

//     @if 10 > 3 {
//         background: pink;
//     }

//     @if $value < 6 {
//         color: blue;
//     }
// }
//------------------------------------
//ELSE
// $value: 6;

// p {
//     @if $value == 1 
//     {
//         color: blue;
//     } 
//     @else if $value > 5 and $value < 10
//     {
//         color: teal;
//     }
// }
//------------------------------------
//MIXINS
// @mixin styles($value) 
// {
//     width: $value + px;
//     height: $value + px;

//     @if $value > 0 and $value <=20 
//     {
//         color: orange;
//     }
//     @else if $value > 20 and $value <= 50
//     {
//         color: teal;
//     }
//     @else
//     {
//         color: purple;
//     }
// }

// .selector { 
//     // @include styles(15);
//     @include styles(25);
// }
//------------------------------------
//FUNCTIONS
$one: 100px;
$two: 4px;

@function math($operator, $numberONe, $numerTwo)
{
    @if $operator == "add"
    {
        @return $numberOne + $numerTwo
    }
    
    @if $operator == "subtract"
    {
        @return $numberONe - $numerTwo
    }

    @if $operator == "multiply"
    {
        @return $numberONe * $numerTwo
    }

    @if $operator == "division"
    {
        @return $numberONe / $numerTwo
    }

    @if $operator == "mod"
    {
        @return $numberONe % $numerTwo
    }
}

section {
    background: teal;
    //ADD
    width: math("add", $one, $two);
}